.total {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin: 0 1rem;
  margin-top: -0.6rem;
  
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: center;
  /* padding:0.5rem; */
  margin: 0.5rem 1rem;
  gap: 0.8rem;
}

button {
  padding: 0.15rem 0.8rem;
  border-radius: 20px;
  font-weight: 700;
  padding: 0.4rem 1.5rem;
}

.close-btn {
  color: red;
  
}

.order-btn {
  background-color:brown;
  color: white;
}

.cart-items {
  margin: 0 -1.4rem;
  font-weight: 500;
}


