.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.form>button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #832702;
  color: white;
  padding: 0.3rem 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
}
