
.input {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.5rem;
}

.input>label {
  font-weight: 800;
}

.input>input {
  width: 50px;
  padding: 0.3rem 0.3rem;
  font-weight: 700;
  border-radius: 5px;
}